 <div class="left-section mCustomScrollbar contacts-outter-wrapper tab-pane active" id="chats" data-mcs-theme="minimal-dark">
    <ul >

        <li ng-repeat="chat in ChatList" ng-click="getChatDetails(chat.chatID)" ng-class="{'active':chat.chatID==ActiveChat._id}">
            <div class="chatList">
                <div class="img">
                    <i class="fa fa-circle"></i>
                    <img src="./imgs/man02.png">
                </div>
                <div class="desc">
                    <small class="time">{{chat.lastMessage.Created_date}}</small>
                    <h5>{{chat.member.name}}</h5>
                    <small>{{chat.lastMessage[0].Text}}</small>
                </div>
            </div>
        </li>
    </ul>

     <div ng-show="{{ChatList.length==0}}">No Recent Chats</div>
</div>
