 <div class="right-section">
    <div class="message mCustomScrollbar" data-mcs-theme="minimal-dark">
        <ul ng-repeat="msg in ActiveChat.messages">
            <li class="msg-left" ng-class="setMessagePosition(msg.SenderID)">
                <div class="msg-left-sub">
                    <img ng-src="setDefaultMemebers(SenderID)">
                    <div class="msg-desc">
                        {{msg.Text}}
                        {{msg.AttachmentPath}}
                    </div>
                    <small>{{msg.Created_date}}</small>
                </div>
            </li>
            
        </ul>
    </div>
    <div class="right-section-bottom">
        <form>
            <div class="upload-btn">
                <button class="btn"><i class="fa fa-paperclip"></i></button>
                <input type="file" name="myfile" />
            </div>
            <input type="text" name="" placeholder="type here...">
            <button class="btn-send">Send</button>
        </form>
    </div>
</div>