<label>Welcome : {{currentUser.name}}</label>
<div class="alert alert-info NotificationMessage "  ng-hide="NotificationMessage ==null" ng-include="'views/chat/newMessageNotification.html'"></div>
<div class="main-section">

    <div class="head-section">
        <div class="headLeft-section">
            <div class="headLeft-sub">
                <div class="inbox-categories">

                    <div class="tabsWrapper">

                        <input id="tab1" type="radio" name="tabs" data-link="chatsTab" checked>
                        <label for="tab1"></label>

                        <input id="tab2" type="radio" name="tabs" data-link="contactsTab">
                        <label for="tab2"></label>

                        <input id="tab3" type="radio" name="tabs" data-link="searchTab">
                        <label for="tab3"></label>


                    </div>
                </div>
            </div>
        </div>
        <div class="headRight-section">
            <div class="headRight-sub">
                <h3> <img src="./imgs/man02.png" class="mCS_img_loaded smallImage">Chat With {{ActiveChat.member.name}}</h3>
             </div>
            <div class="headleft-icon-sub">
                <button><i class="fa fa-gear"></i> </button>
            </div>
        </div>
    </div>
    <div class="body-section tabsContent">
        <section id="chatsTab" style="display:block !important;">
            
            <div data-ng-include="'views/chat/chatList.html'"></div>

        </section>

        <section id="contactsTab" class="left-section mCustomScrollbar contacts-outter-wrapper tab-pane " data-mcs-theme="minimal-dark">


            <div data-ng-include="'views/chat/contacts.html'"></div>
        </section>


        <section id="searchTab" class="left-section mCustomScrollbar contacts-outter-wrapper tab-pane " data-mcs-theme="minimal-dark">

            <div data-ng-include="'views/chat/searchUsers.html'"></div>

        </section>
         
        <div data-ng-include="'views/chat/chatDetails.html'" ng-show="IsHumanChat"></div>

        <div data-ng-include="'views/bot/webChat.html'" ng-controller="botController" ng-show="!IsHumanChat"></div>
         
    </div>
</div>
<script>
                     $(function () {
                         $("input[name='tabs']").change(function () {
                             
                             $('.tabsContent section').css('display', 'none');

                             $('#' + $(this).attr('data-link')).css('display', 'block');

                         });
                     });

</script>