 <div class="left-section mCustomScrollbar contacts-outter-wrapper tab-pane active" id="chats" data-mcs-theme="minimal-dark">
    <ul>

        <li  ng-click="openBotWebChat()"  ng-class="{'active':IsHumanChat==false}">
            <div class="chatList">
                <div class="img">
                    <i class="fa fa-circle"></i>
                    <img src="./imgs/man02.png">
                </div>
                <div class="desc">
                    <h5>Reservations Bot</h5>
                    <br />
                    <small>contact us to reserve any time</small>
                </div>
            </div>
        </li>
        <li ng-repeat="chat in ChatList" ng-click="getChatDetails(chat.chatID)" ng-class="{'active':chat.chatID==ActiveChat.chatID}">
            <div class="chatList">
                <div class="img">
                    <i class="fa fa-circle"></i>
                    <img src="./imgs/man02.png">
                </div>
                <div class="desc">
                    <small class="time">{{chat.lastMessage[0].Created_date | date:'short'}}</small>
                    <h5>{{chat.member.name}}</h5>
                    <br />
                    <small>{{chat.lastMessage[0].Text.substr(20)}}</small>
                </div>
            </div>
        </li>
    </ul>

     <!--<div ng-show="{{ChatList.length==0}}">No Recent Chats</div>-->
</div>
