 <div class="right-section">
    <div class="message mCustomScrollbar" data-mcs-theme="minimal-dark">
        <ul>
            <li class="msg-left">
                <div class="msg-left-sub">
                    <img src="./imgs/man03.png">
                    <div class="msg-desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    <small>05:25 am</small>
                </div>
            </li>
            <li class="msg-right">
                <div class="msg-left-sub">
                    <img src="./imgs/man04.png">
                    <div class="msg-desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    <small>05:25 am</small>
                </div>
            </li>
            <li class="msg-day"><small>Wednesday</small></li>
            <li class="msg-left">
                <div class="msg-left-sub">
                    <img src="./imgs/man03.png">
                    <div class="msg-desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    </div>
                    <small>05:25 am</small>
                </div>
            </li>
            <li class="msg-right">
                <div class="msg-left-sub">
                    <img src="./imgs/man04.png">
                    <div class="msg-desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    <small>05:25 am</small>
                </div>
            </li>
            <li class="msg-left">
                <div class="msg-left-sub">
                    <img src="./imgs/man03.png">
                    <div class="msg-desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    </div>
                    <small>05:25 am</small>
                </div>
            </li>
            <li class="msg-right">
                <div class="msg-left-sub">
                    <img src="./imgs/man04.png">
                    <div class="msg-desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    <small>05:25 am</small>
                </div>
            </li>
        </ul>
    </div>
    <div class="right-section-bottom">
        <form>
            <div class="upload-btn">
                <button class="btn"><i class="fa fa-paperclip"></i></button>
                <input type="file" name="myfile" />
            </div>
            <input type="text" name="" placeholder="type here...">
            <button class="btn-send">Send</button>
        </form>
    </div>
</div>