 <div class="right-section">
    <div class="message containerScroll"  style="overflow-y: scroll; height:400px;" scroll-glue-bottom>

       

        <ul id="scrollableDiv">
            <li ng-repeat="msg in ActiveChat.messages" class="msg-left" ng-class="setMessagePosition(msg.SenderID)">
                <div class="msg-left-sub">
                    <img ng-src="{{setDefaultMemebers(msg.SenderID)}}">
                    <div class="msg-desc">
                        {{msg.Text}}
                        <a target="_blank"   href="{{serverUrl}}{{msg.AttachmentPath}}">{{serverUrl}}{{msg.AttachmentPath}}</a>
                    
                    </div>
                    <small>{{msg.Created_date  | date:'medium'}}</small>
                </div>
            </li>
            
        </ul>
    </div>
    <div class="right-section-bottom">
        <form>
            <div class="upload-btn">
                <button class="btn"><i class="fa fa-paperclip"></i></button>

                <input type="file"
                       ngf-select
                       ng-model="attachmet.file"
                       name="file"  />
             </div>
            <input type="text" name="TextMessage" ng-model="Message.Text" placeholder="type here...">
            <button class="btn-send" ng-disabled="disableSendBtn" ng-click="SendTextMessage()">Send</button>
            <label style="color:red;" ng-show="!validMessage">Please write any Text or pload Attachmen to contact your friend Effectively.</label>
        </form>
    </div>
</div>