
<div class="headLeft-sub">
    <input type="text"   placeholder="Search..."
            ng-model="search.keyWord" name="keyWord" />

    <button ng-click="searchUser()"> <i class="fa fa-search"></i> </button>
</div>
<ul >

    <li ng-repeat="user in users" ng-click="StartChatWithUser(user._id)">
        <div class="chatList">
            <div class="img">
                <img src="./imgs/man03.png">
            </div>
            <div class="desc">
                <h5>{{user.name}}</h5>
            </div>
        </div>
    </li>
</ul>


<div ng-show="{{users.length==0}}">No Recent Users</div>